<ion-app>
  <ion-menu side="start" type="overlay" contentId="main" swipe-gesture="false" color="primary">
    <ion-header>
      <div class="profile-pic" *ngIf="userData$ | async as user;">
        <img [src]="currentImage" alt="foto de perfil" class="avatar">
        <ion-card-content class="detailUser">
          <h1>{{user.displayName}}</h1>
          <h2><i>{{user.email}}</i></h2>
        </ion-card-content>
      </div>
    </ion-header>
    <ion-content>
      <div class="container-actividades">
        <!--
        <ion-note (click)="irEventos()" class="actividad">
          <ion-icon name="home"></ion-icon>&nbsp;&nbsp;&nbsp;&nbsp;Inicio
        </ion-note><br>
        <ion-note (click)="agenda()" class="actividad">
          <ion-icon name="calendar"></ion-icon>&nbsp;&nbsp;&nbsp;&nbsp;Mi Agenda
        </ion-note><br>
        <ion-note (click)="deteccion()" class="actividad">
          <ion-icon name="radio"></ion-icon>&nbsp;&nbsp;&nbsp;&nbsp;Detección Sala
        </ion-note><br>
        <ion-note (click)="perfil()" class="actividad">
          <ion-icon name="create"></ion-icon>&nbsp;&nbsp;&nbsp;&nbsp;Perfil
        </ion-note><br>
        <ion-note (click)="cerrarSesion()" class="actividad">
          <ion-icon name="log-out"></ion-icon>&nbsp;&nbsp;&nbsp;&nbsp;Cerrar Sesión
        </ion-note>
        -->
        <ion-item-divider>Actividades</ion-item-divider>
        <ion-item (click)="irEventos()" routerLinkActive="['activate']">
          <ion-icon name="home-outline"></ion-icon>&nbsp;&nbsp;&nbsp;&nbsp;Inicio
        </ion-item>
        <ion-item (click)="agenda()" routerLinkActive="['activate']">
          <ion-icon name="calendar-outline"></ion-icon>&nbsp;&nbsp;&nbsp;&nbsp;Mi Agenda
        </ion-item>
        <ion-item (click)="deteccion()" routerLinkActive="['activate']">
          <ion-icon name="radio-outline"></ion-icon>&nbsp;&nbsp;&nbsp;&nbsp;Detección
        </ion-item>
        <ion-item (click)="cerrarSesion()" routerLinkActive="['activate']">
          <ion-icon name="log-out-outline"></ion-icon>&nbsp;&nbsp;&nbsp;&nbsp;Cerrar Sesión
        </ion-item>
        <br>
        <ion-item-divider>Configuración</ion-item-divider>
        <ion-item (click)="perfil()" routerLinkActive="['activate']">
          <ion-icon name="create-outline"></ion-icon>&nbsp;&nbsp;&nbsp;&nbsp;Perfil
        </ion-item>

      </div>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>