<ion-app >
  <ion-menu side="start"  type="overlay" contentId="main" swipe-gesture="false" color="primary">
    <ion-header>
      <ion-toolbar style="background-color: #D1F2EB;">
        <ion-title>Menu de opciones</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content >
      <div class="container-primero">
      </div>
      <div color="primary">
        <ion-note (click)="inicio()"> <ion-icon name="home"></ion-icon>&nbsp;&nbsp;Inicio</ion-note><br>
        <ion-note (click)="login()"> <ion-icon name="people"></ion-icon>&nbsp;&nbsp;Iniciar sesión</ion-note><br>
        <ion-note (click)="irEventos()"><ion-icon name="reader"></ion-icon>&nbsp;&nbsp;Eventos</ion-note><br>
        <ion-note (click)="agenda()"> <ion-icon name="calendar"></ion-icon>&nbsp;&nbsp;Agenda</ion-note><br>
        <ion-note (click)="deteccion()"> <ion-icon name="radio"></ion-icon>&nbsp;&nbsp;Detección</ion-note><br>
        <ion-note (click)="cerrarSesion()"> <ion-icon name="log-out"></ion-icon>&nbsp;&nbsp;Cerrar sesión</ion-note>
      </div>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
