ion-menu ion-content {
  --background: var(--ion-item-background, var(--ion-background-image,white ));
}

ion-menu.md ion-content {
  --padding-start: 8px;
  --padding-end: 8px;
  --padding-top: 20px;
  --padding-bottom: 20px;
}

ion-menu.md ion-list {
  padding: 20px 0;
}

ion-menu.md ion-note {
  margin-bottom: 30px;
}

ion-menu.md ion-list-header,
ion-menu.md ion-note {
  padding-left: 10px;
}

ion-menu.md ion-list#inbox-list {
  
  border-bottom: 1px solid var(--ion-color-step-150, #D4AC0D);
}

ion-menu.md ion-list#inbox-list ion-list-header {
  font-size: 22px;
  font-weight: 600;
  min-height: 20px;
}

ion-menu.md ion-list#labels-list ion-list-header {
  font-size: 16px;

  margin-bottom: 18px;

  color: #757575;

  min-height: 26px;
}

ion-menu.md ion-item {
  --padding-start: 10px;
  --padding-end: 10px;
  border-radius: 4px;
}

ion-menu.md ion-item.selected {
  --background: rgba(var(--ion-color-#ff2121-rgb), 0.20);
  
}

//icono
ion-menu.md ion-item.selected ion-icon {
  color:#1F618D;
}

ion-menu.md ion-item ion-icon {
  color: #1F618D;
}

ion-menu.md ion-item ion-label {
  font-weight: 500;
}

ion-menu.ios ion-content {
  --padding-bottom: 20px;
}

ion-menu.ios ion-list {
  padding: 20px 0 0 0;
  
}

ion-menu.ios ion-note {
  line-height: 24px;
  margin-bottom: 20px;
}

ion-menu.ios ion-item {
  --padding-start: 16px;
  --padding-end: 16px;
  --min-height: 50px;
}

ion-menu.ios ion-item.selected ion-icon {
  color: var(--ion-color-danger);
}

ion-menu.ios ion-item ion-icon {
  font-size: 24px;
}

ion-menu.ios ion-list#labels-list ion-list-header {
  margin-bottom: 8px;
}

ion-menu.ios ion-list-header,
ion-menu.ios ion-note {
  padding-left: 16px;
  padding-right: 16px;
}

ion-menu.ios ion-note {
  margin-bottom: 8px;
}

ion-note {
  display: inline-block;
  font-size: 16px;
  color:  rgb(0, 0, 0);
}

ion-item.selected {
  color:  red;
}
ion-toolbar{
  --ion-background-color: #1F618D ;
  color: white;
}
.container-imagen{
  background-color: #34495E;
  margin-bottom: 2em;
  box-shadow: 
       inset 0 -2em 6em rgba(174, 214, 241), 
             -2em 1em  0 2px rgb(255,255,255),
             0.3em 0.3em 1em rgba(214, 234, 248);
}
ion-icon{
  color: #34495E;
  width: 1.5em;
  height: 1.5em;
}
.profile-pic{
  box-shadow: 0px 6px 10px -6px rgb(0 0 0 / 75%);
  background-image: url("../assets/icon/fondoP2.jpg");
}

.ion-menu.md .ion-item.activate{
  background-color: #D4AC0D;
}
.avatar{
  border-radius: 50%;
  margin-left: 22.5%;
  margin-top: 5%;
  margin-bottom: 5%;
  width: 55%;
  height: 170px;
}
.detailUser{
  background-color: #212F3D;
  opacity: 0.9;
  color: white;
  font-family: 'Franklin Gothic Medium';
}
.iconHeader{
  margin-left: 5em;
  height: 1.2em;
  width: 1.5em;
  color: #1F618D;
}
.container-actividades{
  color: #DC7633;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
ion-item{
  padding-bottom: 0.5%;
  --ion-background-color:  #E8F6F3;
  margin-top: 3%;
  color: #2D6082;
  box-shadow: 11px 11px 10px -10px rgba(28,94,138,1);
}

h6{
  font-size: small;
  color: #616A6B ;
  font-family: 'Courier New', Courier, monospace;
}

ion-item-divider{
  color: #2D6082;
}