<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Inicio sesión</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <img class="imagen" src="assets/icon/logo.png" alt="">
<ion-item>
  <ion-label position="floating">Correo Electrónico</ion-label >
  <ion-input type="text" [(ngModel)]="email" name="Email"></ion-input>
</ion-item>
<ion-item>
  <ion-label position="floating">Contraseña</ion-label >
  <ion-input [(ngModel)]="password" type="password" name="Password"></ion-input>
</ion-item>
<ion-button  class="boton-entrar" (click)="onSubmitLogin()" shape="round">Entrar</ion-button>
<p style="text-align: center;" routerLink="/registro">Crear cuenta</p>
</ion-content>