
.logo{
  margin-top: 17%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 17%;
}
.card{
  background-color: r;
}
.boton-entrar{
  justify-content: center;
  text-align: center;
  margin-top: 7%;
  margin-bottom: 2%;
  display: flex;
  color: white;
}
ion-icon{
  color: #2D6082;
}
p{
font-size: small;
}
.field{
  width: 100%;
  .fie{
      margin-top: 20px;
  }
}
ion-item{
  font-size: 13px;
  border-radius: 2em;
  border: 2px solid rgb(237, 187, 153);
  box-shadow: 10px 10px 17px -15px rgb(0 11 0);
}
