.boton-entrar, .boton-login{
  font-family: "Candara";
}
.slide-img-padding{
  margin-top: 17%;
}
ion-slide{
  display: block;
  color: white;

}
h3{
  font-family: "Candara";
  font-weight: lighter;
  margin-bottom: 20%;
}
ion-footer{
  border: 0;
}
ion-label{
  color: #2D6082;
}
ion-content{
  --ion-background-color: #2D6082;
  color: #2D6082;
}