<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/folder/Inicio"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="body">
  <ion-card-content>
    <ion-card-content class="content2">
      <h2><b>
          <ion-icon name="information"></ion-icon>Información App
        </b></h2><br>
      <p>MultiEvent es un aplicativo móvil que te ayudará a gestionar eventos como: charlas, conferencias, talleres,
        etc. Podras realizar varias tareas dentro del mismo:
      <ul>
        <li>
          Detección de salas&nbsp;&nbsp;<ion-icon name="bluetooth"></ion-icon>
        </li>
        <li>
          Listado de eventos&nbsp;&nbsp;<ion-icon name="reader"></ion-icon>
        </li>
        <li>
          Información detallada de eventos&nbsp;&nbsp;<ion-icon name="receipt"></ion-icon>
        </li>
        <li>
          Suscripción a eventos&nbsp;&nbsp;<ion-icon name="checkbox"></ion-icon>
        </li>
        <li>
          Agenda de eventos registrados&nbsp;&nbsp;<ion-icon name="calendar"></ion-icon>
        </li>
      </ul>
      <p>
        Esta aplicación esta desarrollada para hacer uso de dispositivos Beacon que permitirán detectar los eventos de
        determinada sala de acuerdo a la ubicación en
        la que te encuentres, para ellos debes dar permisos de ubicación <ion-icon name="pin"></ion-icon> y bluetooth de
        tu dispositivo <ion-icon name="bluetooth"></ion-icon>. <br>
        Para hacer uso de la cámara <ion-icon name="camera"></ion-icon> en los registros del usuario, también se deberán
        dar permisos.
      </p>
      <hr>
      <h2><b>
          <ion-icon name="information"></ion-icon>Información Desarrolladores
        </b></h2><br>
      <img class="logo" src="assets/icon/dKaren.jpeg" alt="">
      <h2>Karen Isabel Torres Zhapa</h2>
      <p style="margin-left: 37%;">Estudiante de la carrera de Sistemas Informáticos y Computación <br><i> kareeli998@gmail.com</i></p>
      <br><br>
      <img class="logo" src="assets/icon/joel.jpeg" alt="">
      <h2>Elvis Joel Ayala Agila</h2>
      <p style="margin-left: 37%;">Estudiante de la carrera de Sistemas Informáticos y Computación <br><i>
          ejayala2@gmail.com</i></p>
    </ion-card-content>
  </ion-card-content>
</ion-content>