.body{
    --ion-background-color:  aliceblue;
    border: 2px solid #2D6082 ;
}
.content2{
    text-align: justify;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

h2{
    color: #2D6082;
}
.logo{
    width: 7em;
    height: 7em;
    border-radius: 50%;
    float: left;
}
ion-icon{
    color:  #2D6082;
}
h3{
   float: right;
}