.profile-pic{
    width: 50%;
    margin: auto;
}
.avatar{
    border-radius: 50%;
    border: 3px darkcyan;
    border-style: groove;
    margin: auto;
    width: 150px;
    height: 150px;
}
.button{
    margin: auto;
    width: 100%;
}
.card{
    background-color: aliceblue;
    border: 1px solid rgb(5, 21, 36);
}
.field{
    width: 100%;
    .fie{
        margin-top: 20px;
    }
}
ion-item{
    font-size: 13px;
    border-radius: 5px;
    border: 1px solid rgb(5, 21, 36);
    box-shadow: 10px 10px 17px -15px rgb(0 11 0);
}