<ion-header [translucent]="true">
  <ion-toolbar color="light">
    <ion-title>Perfil de usuario</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card-content class="row">
    <ion-card-content class="card">
        <Form [formGroup]="profileForm" (ngSubmit)="onSaveUser(profileForm.value)">
          <div class="profile-pic">
            <img [src]="currentImage" alt="foto de perfil" class="avatar" />
            <!-- <ion-input type="file" #inputImageProfile (change)="handleImage(($event?.target?.files)[0])"></ion-input> -->
            <ion-button block (click)="onUploadGaleria()" style="background-color: #2D6082;" color="white">
              <ion-icon name="image"></ion-icon> Galeria
            </ion-button>
            <ion-button block (click)="onUploadCamera()" style="background-color: #2D6082;" color="white">
              <ion-icon name="camera-sharp"></ion-icon> Cámara
            </ion-button>
          </div>
          <div class="field">
            <h3 class="fie">Nombres</h3>
            <ion-item>
              <ion-input formControlName="displayName"></ion-input>
            </ion-item>
          </div>
          <div class="field">
            <h3 class="fie">Email</h3>
            <ion-item>
              <ion-input formControlName="email"></ion-input>
            </ion-item>
          </div>
          <div class="field">
            <h3 class="fie">Teléfono</h3>
            <ion-item>
              <ion-input maxlength="10" formControlName="phoneNumber"></ion-input>
            </ion-item>
            <span *ngIf="profileForm.get('phoneNumber').invalid" style="color: red;">El numero es incorrecto. Ejemplo: 0982870886</span>
          </div>
          <div class="field">
            <h3 class="fie">Descripción</h3>
            <ion-item appearance="fill">
              <ion-textarea formControlName="description"></ion-textarea>
            </ion-item>
          </div>
          <div class="mat-dialog-actions">
            <div class="button" *ngIf="this.band; else guardado">
              <br>
              <ion-button type="submit" expand="full" shape="round" [disabled]="profileForm.invalid">
                <ion-icon name="save-outline"></ion-icon> Guardar
              </ion-button>
            </div>
            <ng-template #guardado>
              <br>
              <div>
                <ion-card style="text-align: center; width: 80%; background-color: blanchedalmond;margin: auto;"><h2 style="background-color: blanchedalmond;margin: auto;">Guardado!</h2></ion-card>
              </div>
            </ng-template>
          </div>
        </Form>
      </ion-card-content>
  </ion-card-content>
</ion-content>