.btn-registrarme{
    width: 93%;
    margin-top: 3px;
  }
  h1, h2{
    text-align: center;
    background-color: #D5DBDB; 
    color: #17A589;
  }
  .container-general{
    background-color: #D5DBDB;
  }
  p, .topicos{
    color: #34495E;
  }
  .card-header{
    background-color:  #34495E;
  }
  .subtitle-subevento{
    color: #34495E;
  }
  .title-subevento{
    font-family: 'Candara';
    font-size: 1.3em;
  }
  ion-icon{
    color: #17A589;
  }