a{
    color: white;
    text-decoration: none;
    font-family: "Agency FB";
}

.cardEventos{
    width: 100%;
}
.button-container{
    display:inline-block;
    position:relative;
}

ion-card-subtitle{
    font-style: italic;
}
.card-principal{
    
    background-color: #D6EAF8;
}
.card-secundaria{
    border: #F2F3F4 1px solid;
    background-color: #34495E;
}
ion-card-subtitle{
    color: #E67E22;
}
.title{
    color: white;
}
p{
    color: #E67E22;
}
.delete{
    color: #34495E;
    margin-left: 85%;
    width: 5em;
    height: 2em;
}