a{
    color: white;
    text-decoration: none;
    font-family: "Agency FB";
}

.cardEventos{
    width: 100%;
}
.button-container{
    display:inline-block;
    position:relative;
}

ion-card-subtitle{
    font-style: italic;
}
.card-principal{
    
    background-color: #A9CCE3;
}
.card-secundaria{
    background-color: #F2F3F4;
    border: 2px solid #212F3D;
    box-shadow:4px 4px 1px 0px #89ade6;
    -moz-box-shadow:4px 4px 1px 0px #89ade6;
    -webkit-box-shadow:4px 4px 1px 0px #89ade6;
}
ion-card-subtitle{
    color: #E67E22;
}
.title{
    color: #212F3D;
}
p{
    color: #E67E22;
}
.delete{
    color: #34495E;
    margin-left: 70%;
    width: 5em;
    height: 2em;
}