<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Mi agenda</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item *ngFor="let event of listEvents">
      <div class="cardEventos">
        <ion-card class="card-principal">
          <ion-card class="card-secundaria">
            <ion-card-header>
              <p>
                <ion-icon name="information-circle"></ion-icon><strong>&nbsp;&nbsp;{{event.siglas}}</strong>
              </p>
              <ion-card-title>
                <a [routerLink]="['/event', event.id]" class="title"> {{event.title}}</a>
              </ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-card>
      </div>
    </ion-item>
    <ion-item *ngFor="let subevent of listSubEvents">
      <div class="cardEventos">
        <ion-card class="card-principal">
          <ion-card class="card-secundaria">
            <ion-card-header>
              <p>
                <ion-icon name="information-circle"></ion-icon><strong>&nbsp;&nbsp;{{subevent.siglas}}</strong>
              </p>
              <ion-card-title>
                <a [routerLink]="['/event', subevent.id]" class="title"> {{subevent.title}}</a>
              </ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-card>
      </div>
    </ion-item>
  </ion-list>
</ion-content>
