<ion-header>
  <ion-toolbar color="light">
    <ion-title>Más información</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div *ngIf="event$ | async as event" class="container">
    <ion-card class="container-general">
      <ion-card>
        <ion-card class="card-header" style="background-color:  #34495E;">
          <ion-card-header>
            <ion-card-subtitle style="color: #2ADEAB;"><strong>{{event.siglas}}</strong></ion-card-subtitle>
            <ion-card-title style="color: white;">
              {{event.title}}
            </ion-card-title>
          </ion-card-header>
        </ion-card>
        <ion-card>
          <ion-card-content>
            <p><strong>Fecha inicio: </strong> {{event.date | date:'dd/MM/yy' }}</p>
            <p><strong>Fecha fin: </strong> {{event.finishdate | date:'dd/MM/yy' }}</p>
            <p>
              <ion-icon name="time"></ion-icon><strong>&nbsp;&nbsp;Hora: </strong> {{event.time}}
            </p>
            <p>
              <ion-icon name="business"></ion-icon><strong>&nbsp;&nbsp;Sala: </strong> {{idSala}}
            </p>
            <br>
            <h2><strong>Descripción del evento</strong></h2>
            <p style="text-align: justify;">{{event.descrip}}</p><br>
            <h2><strong>Topicos de Interés</strong></h2>
            <!-- <ion-card-content class="topicos" selected *ngFor="let topic of event.topics" [ngClass]="topic">
            </ion-card-content> -->
        
            <div class="topicos" selected *ngFor="let topic of event.topics" [ngClass]="topic">
              <ion-chip color="success" outline="true" expand="full">
                <ion-label color="secondary">{{topic}}</ion-label>
              </ion-chip>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-card>
      <div style="text-align: center;">
        <ion-button (click)="registerEvent()" class="btn-registrarme" id="registrar" expand="full" shape="round">
          Registrarme
        </ion-button>
      </div>
      <ion-card expand="full" style="background-color: #34495E;">
        <div class="subEventos" *ngIf="subeventList.length >= 0; else noSubs">
          <!--<div class="subEventos" > -->
          <h4 style="text-align: center;">SUB-EVENTOS
          </h4>
          <ion-icon name="chevron-down"
              (click)="mostrar=true" style=" margin-left: 48%; font-size: large;"></ion-icon>
          <div *ngIf="mostrar">
            <ion-list type="mostrar=true">
              <ion-item *ngFor="let subevent of subeventList">
                <ion-card class="card-subeventos">
                  <ion-card-header>
                    <ion-card-subtitle class="subtitle-subevento" style="color:#E67E22">
                      <strong>{{event.siglas}}</strong>
                    </ion-card-subtitle>
                    <ion-card-title class="title-subevento">
                      <strong><a [routerLink]="['/subevent', subevent.id]" style="color:#85929E">
                          {{subevent.title}}</a></strong>
                    </ion-card-title>
                  </ion-card-header>
                </ion-card>
              </ion-item>
            </ion-list>
            <ion-icon name="chevron-up" style=" margin-left: 48%; font-size: large;" (click)="mostrar=false"></ion-icon>
          </div>
        </div>
      </ion-card>
    </ion-card>
  </div>
</ion-content>
<ng-template #noSubs>
  <ion-button (click)="registerEvent()">Registrarme</ion-button>
  <ion-card>
    <ion-card-header>
      <ion-card-title>No hay subeventos</ion-card-title>
    </ion-card-header>
  </ion-card>
</ng-template>