h1, h2{
    text-align: center;
    background-color: #D5DBDB; 
    color: #17A589;
}
.subeventos{
    background-color: #34495E;
}
h4{
    color: white;
    font-size: medium;
}
.container-general{
    background-color: #D5DBDB;
}
.card-subeventos{
    background-color: #EEEEEE;
    border: #A3E4D7 2px solid;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
   
}
.subtitle-subevento{
    color: #34495E;
}
.title-subevento{
    font-family: 'Candara';
    font-size: 1.3em;
}
p, .topicos{
    color: #34495E;
}
.card-header{
    background-color:  #34495E;
}
ion-icon{
    color: #17A589;
}
.iconOcultar{
    width: 2em;
    height: 2em;
    float: right;
    border-radius: 50%;
}
.iconMostar{
    width: 3em;
    height: 3em;
    float: right;
    border-radius: 50%;
    color: white;
}
.btn-registrarme{
    width: 94%;
    margin: auto;
}
.boton_atras{
    width: 2em;
    height: 2em;
    float: right;
    border-radius: 50%;
}
ion-chip{
    width: 100%;
}